# lib
node_modules

# outFile
dist
out

# test
test

# dev tools config
.DS_Store
.idea
.editorconfig

# logs
*.log*

#config
config/configration.json
config/subdomain.txt.small

# eslintconfig
.eslintignore
.eslintrc.cjs

# prettier
.prettierignore
.prettierrc.yaml

# cmd
note
