.domain-list {
  display: flex;
  justify-content: flex-start;
  max-height: 80%;
  overflow: auto;

  .domain-list-root,
  .subdomain-list {
    flex: 1;
    overflow: auto;
    margin: 0 5px;
    border: 1px solid rgba(140, 140, 140, 0.35);
  }
}

.domain-action {
  display: flex;
  justify-content: flex-start;
  padding: 0 5px;
  margin-top: 8px;

  .action-search {
    & > div {
      margin-right: 8px;
    }
  }
}
